<button type="button" (click)="showDialog()"  pButton icon="pi pi-arrow-up" label="Filter" class="ui-button-warning"></button>

<p-dialog [contentStyle]="{'overflow':'visible'}" styleClass="mydialog" header="Chose the range to analyze" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}" [maximizable]="false" [baseZIndex]="10000" [draggable]="false" [resizable]="true">


  <div style="display:flex; flex-direction: row; justify-content: center; align-items: center;" >
      <h4>From:</h4>
      <p-calendar dateFormat="yy-mm-dd" [style]="{'margin-right':'20px', 'margin-left':'5px'}" [(ngModel)]="fromDate"  showTime="true" hourFormat="24" showIcon="true"></p-calendar>

      <h4>To: </h4>
      <p-calendar [(ngModel)]="toDate" [style]="{'margin-left':'5px'}"showTime="true" hourFormat="24" showIcon="true"></p-calendar>

  </div>
  <div style="display:flex; flex-direction: row; justify-content: center">
      <p-dropdown [options]="sizes" [(ngModel)]="selectedSize" placeholder="Select a size" optionLabel="size" [showClear]="true"></p-dropdown>
  </div>

  <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="collectDialogData()" label="Apply"></button>
      <button type="button" pButton icon="pi pi-times" (click)="hideDialog()" label="Cancel" class="ui-button-secondary"></button>
  </p-footer>
</p-dialog>
