<div class="flex-row">
  <div class="flex-column">
    <line-chart class="box shadow"  [receivedData]="elasticData" (selectedIndex)="setIndex($event)"></line-chart>

    <div class="flex-row">
      <doughnut-chart class="box shadow" [receivedData]="elasticData" [receivedIndex]="selectedLineChartIndex"></doughnut-chart>
      <radar-chart class="box shadow" [receivedData]="elasticData" [receivedIndex]="selectedLineChartIndex"></radar-chart>
    </div>
  </div>

  <div class="flex-column">
    <p-button  label="{{ customLabel }}" (onClick)="switchOnOff()"></p-button>
    <app-dialog (getDialogData)="getFilteredData($event)"></app-dialog>
  </div>

  <div class="flex-column">
    <bar-chart class="box shadow" [receivedData]="elasticData" (selectedIndex)="setIndex($event)"></bar-chart>
    <div class="box shadow">
      <board-position></board-position>
    </div>
  </div>
</div>
