.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  background-color: white;
  width: max-content;
  height: max-content;
  margin-bottom: 0.9rem;
}

.shadow {
  border-radius: 0.3rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 1em 1em;;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
