:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .ui-message,
:host ::ng-deep .ui-inputtext {
    margin-right: .25em;
}

:host ::ng-deep .custom-message,
:host ::ng-deep img  {
    align-self: center;
    font-size: 16px;
    margin-left: .5em;
}

:host ::ng-deep button {
    margin-right: .25em;
}

:host ::ng-deep .custom-toast .ui-toast-message {
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}

:host ::ng-deep .custom-toast .ui-toast-message div {
    color: #ffffff;
}

:host ::ng-deep .custom-toast .ui-toast-message.ui-toast-message-info .ui-toast-close-icon {
    color: #ffffff;
}

.box {
  margin: auto;
  width: fit-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.shadow {
  border-radius: 0.3rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 1em 1em;;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
}
