<div class="box shadow">

    <h2 class="form-signin-heading">
        Please sign in
    </h2>

    <p-messages [(value)]="msgs"></p-messages>

    <span class="ui-float-label">
        <input class="shadow" id="float-input" type="text" size="30" [(ngModel)]="username" pInputText>
        <label for="float-input">username</label>
    </span>

    <span style="margin-top: 20px;" class="ui-float-label">
        <input class="shadow" id="float-input" type="password" size="30" [(ngModel)]="password" pInputText>
        <label for="float-input">Password</label>
    </span>

    <button style="margin-top:20px" (click)="signIn()" pButton type="button" label="Log in"></button>
</div>

